<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       
	<bean id="foodItem1" class="com.royal.core.ioc.FoodItem">
		<constructor-arg ref="id"/>
		<constructor-arg ref="name"/>
		<constructor-arg ref="price"/>
		<constructor-arg ref="isAvailable"/>
	</bean>
	<bean id="foodItem2" class="com.royal.core.ioc.FoodItem">
		<constructor-arg ref="id" />
		<constructor-arg ref="name"/>
		<constructor-arg ref="price"/>
		<constructor-arg ref="isAvailable"/>
	</bean>
	<bean id="iceCream" class="com.royal.core.ioc.IceCream">
		<constructor-arg ref="light"/>
	</bean>
	<bean id="employee" class="com.royal.core.ioc.Employee">
		<constructor-arg name="id" value="101"/>
		<constructor-arg name="name" value="Meet"/>
		<constructor-arg name="salary" value="340000"/>
	</bean>
</beans>